NODE_ENV=development
PORT=5000

MONGO_URI=mongodb://127.0.0.1:27017/leave_attendance_db

JWT_SECRET=change-me-in-production
JWT_EXPIRES_IN=1d

# Attendance policy
ATTENDANCE_LATE_CUTOFF_MINUTES=570
ATTENDANCE_MIN_MINUTES_FULL_DAY=240
ATTENDANCE_WEEKEND_DAYS=0,6
